.tracker {
  position: fixed;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 9999;
  pointer-events: none;
  transition: all .15s;

  &.svg {
    width: 100%;
    height: 100%;

    &#cursor {
      position: fixed;
      pointer-events: none;
      transform: none;
      transform-origin: center center;
      transition: all 300ms ease-out;
      padding: 2px;

      &.cursor-circle {
        stroke-dasharray: 500;
        stroke-dashoffset: 1000;
        transition: stroke-dashoffset 5s ease-out;

        &.cursor-circle.animate {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}

